version: "3.9"

services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/prime_trade_assignment
      - JWT_SECRET=supersecret_in_docker
    ports:
      - "4000:4000"
    depends_on:
      - mongo

volumes:
  mongo_data:


